/* Start :: Product categories */
.list-category {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
  height: 50px;
  margin-bottom: 10px;
}

.list-category li {
  margin: 0 10px;
}

.list-category li a span {
  border-radius: 50px;
  display: block;
  border: 1px solid #bf9f70;
  padding: 10px 20px;
  color: #bf9f70;
}

.list-category li.active span {
  background-color: #bf9f70;
  color: #fff;
}

.block-product .swiper-wrapper {
  flex-wrap: wrap;
}

#pagination {
  margin: 10px 0;
  text-align: center;
}

#pagination a {
  margin-right: 10px;
  padding: 4px 12px;
  /* background-color: #bf9f70; */
  color: #000;
  border: 1px solid #000;
}
/* End :: Product categories */
